@import './partials/_variables.scss';

@import '~bootstrap/scss/bootstrap';

$fa-font-path: "../fonts/font-awesome" !default;

@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";

//----------Font Front End---------------//

// TITOLI Chakra Petch 300 400 500 600 700
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');

// BODY Space Grotesk 300 400 500 600 700
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

//----------General---------------//

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Space Grotesk', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Chakra Petch', sans-serif;

}
.my-w-100 {
    width: 100px;
}

.my-bg-dark {
    background-color: rgb(93, 90, 90) !important;
}

//-----------Admin-----------//

#admin {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    #wrapper-left {
        width: 230px;
        height: 100vh;


        //------------sidebar------------//
        #sidebar {
            height: 100%;


            #logo-sidebar{
                margin-left: 1rem;
                span {
                    font-size: 2rem;
                }
            }
        }
    }

    #wrapper-right {
        width: calc(100% - 230px);
        height: 100vh;

        .navbar {
            height: 80px;
        }

        main {
            height: calc(100% - 80px);
            width: 100%;
            overflow-y: scroll;
        }
    }
}

//----------projects table-----------------//

.my-table {
    th, td {
        vertical-align: middle;
    }
}
/***************************************
  STEFANIA LOGIN E REGISTER FRONT END
***************************************/
// ERRORS REGISTER + LOGIN

.dev_error{
    position: absolute;
    top: -25px;
    left: 0;
    color: red !important;
    font-size: 1.5rem;
}


// REGISTER 

.dev_register_full_page{
   
    min-height: 100vh; /* sottrai header e footer*/ 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dev_bkg_blue;

    .box_register{
        position: relative;
        width: 580px;
        height: 680px;
        background: $dev_bkg_purple;
        border-radius: 15px;
        overflow: hidden;

        &::before{
            content: '';
            position: absolute;
            top: -50%;
            left: -50%;
            width: 580px;
            height: 680px;
            background: linear-gradient(0deg, transparent, $dev_light_blue, $dev_light_blue);
            transform-origin: bottom right;
            animation: animate 6s linear infinite;
        }

        &::after{
            content: '';
            position: absolute;
            top: -50%;
            left: -50%;
            width: 580px;
            height: 680px;
            background: linear-gradient(0deg, transparent, $dev_pantone, $dev_pantone);
            transform-origin: bottom right;
            animation: animate 6s linear infinite;
            animation-delay: -3s;
        }
        @keyframes animate{
            0%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(360deg);
            }
        }
    }

    .dev_register_form{
        position: absolute;
        inset: 8px;
        background: $dev_bkg_blue;
        border-radius: 15px;
        z-index: 10;
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2{
            color: $dev_light_blue;
            font-size: 2rem;
            font-weight: 400;
            text-align: center;
            letter-spacing: 0.2rem;
            margin-top: 20px;
            margin-bottom: 0;
        }
        .inputBox_register{
            position: relative;
            width: 400px;
            margin-top: 25px;

            input{
                position: relative;
                width: 100%;
                padding: 20px 10px 12px;
                background: transparent;
                border: none;
                outline: none;
                color: $dev_black;
                font-size: .85rem;
                font-weight: 600;
                letter-spacing: 0.1rem;
                z-index: 10;
            }
            span{
                position: absolute;
                left: 0;
                padding: 20px 0px 10px;
                font-size: .75rem;
                color: $dev_light_gray;
                pointer-events: none;
                letter-spacing: 0.2rem;
                transition: 0.5s;
            }
            i{
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background: $dev_pantone;
                border-radius: 4px;
                transition: 0.5s;
                pointer-events: none;
                z-index: 9;
            }
        }
        .inputBox_register input:valid ~ span,
        .inputBox_register input:focus ~ span{
            color: $dev_light_blue;
            transform: translateX(0px) translateY(-34px);
            font-size: 0.55rem;
        }
        .inputBox_register input:valid ~ i,
        .inputBox_register input:focus ~ i{
            height: 44px;
            background: $dev_light_blue;

        }

        .links_register{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;

            a{
                font-size: 0.75rem;
                text-decoration: none;
                color: $dev_light_blue;

                &:hover{
                    text-decoration: underline;
                }
            }

            span{
                color: $dev_light_gray;
                font-size: .75rem;
                margin-right: .5rem;
                pointer-events: none;
            }

        }

        .register{
            border: none;
            outline: none;
            background: $dev_light_blue;
            padding: 11px 25px;
            width: 100%;
            margin: 20px 0;
            border-radius: 4px;
            font-weight: 700;
            cursor: pointer;
            align-self: flex-end;
            letter-spacing: 0.2rem;
            color: #1c1c1c;
            transition: transform 250ms ease;
            
            &:hover{
                transform: scale(1.05);
            }

            &:active{
                opacity: 0.8;
                transform: scale(1);
            }
        }
    }

    /* Change Autocomplete styles input in Chrome*/
    
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: $dev_black;
    transition: background-color 5000s ease-in-out 0s;
    }
    
}

// LOGIN 

.dev_login_full_page{
   
    min-height: 100vh; /* sottrai header e footer*/ 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dev_bkg_blue;


    .box_login{
        position: relative;
        width: 480px;
        height: 520px;
        background: $dev_bkg_purple;
        border-radius: 15px;
        overflow: hidden;

        &::before{
            content: '';
            position: absolute;
            top: -50%;
            left: -50%;
            width: 480px;
            height: 520px;
            background: linear-gradient(0deg, transparent, $dev_light_blue, $dev_light_blue);
            transform-origin: bottom right;
            animation: animate 6s linear infinite;
        }

        &::after{
            content: '';
            position: absolute;
            top: -50%;
            left: -50%;
            width: 480px;
            height: 520px;
            background: linear-gradient(0deg, transparent, $dev_pantone, $dev_pantone);
            transform-origin: bottom right;
            animation: animate 6s linear infinite;
            animation-delay: -3s;
        }
        @keyframes animate{
            0%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(360deg);
            }
        }

        .form_login{
            position: absolute;
            inset: 8px;
            background: $dev_bkg_blue;
            border-radius: 15px;
            z-index: 10;
            padding: 50px 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


           h2{
            color: $dev_light_blue;
            font-size: 2rem;
            font-weight: 400;
            text-align: center;
            letter-spacing: 0.2rem;

                i{
                    font-size: 1.5rem;
                }
           }
           .inputBox_login{
                position: relative;
                width: 300px;
                margin-top: 35px;

                input{
                    position: relative;
                    width: 100%;
                    padding: 20px 10px 15px;
                    // background: transparent;
                    background: $dev_light_blue;
                    border-radius: 8px;
                    // border: 1px solid red;
                    outline: none;
                    color: #1C1C1C;
                    font-size: .65rem;
                    font-weight: 600;
                    letter-spacing: 0.1rem;
                    // z-index: 10;
                    font-family: inherit;
                }
                .label{
                    position: absolute;
                    // left: 0;
                    left: 5px;
                    top: -42px;
                    padding: 20px 0px 10px;
                    font-size: .65rem;
                    color: $dev_light_blue;
                    pointer-events: none;
                    letter-spacing: 0.2rem;
                    // transition: 0.5s;
                }
                .dev_error_login{
                    color: red !important;
                    font-size: .85rem;
                    font-family: 'Space Grotesk', sans-serif;

                }
                // i{
                //     position: absolute;
                //     left: 0;
                //     bottom: 0;
                //     width: 100%;
                //     height: 2px;
                //     background: #BB2649;
                //     border-radius: 4px;
                //     transition: 0.5s;
                //     pointer-events: none;
                //     z-index: 9;
                // }
            }
            // .inputBox_login input:valid ~ span,
            // .inputBox_login input:focus ~ span{
            //     color: #47F3FF;
            //     transform: translateX(0px) translateY(-34px);
            //     font-size: 0.65rem;
            // }
            // .inputBox_login input:valid ~ i,
            // .inputBox_login input:focus ~ i{
            //     height: 44px;
            //     background: #47F3FF;

            // }

            .links_login{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 40px;

                a{
                    font-size: 0.85rem;
                    text-decoration: none;
                    color: $dev_light_blue;

                    &:hover{
                        text-decoration: underline;
                    }
                }

                span{
                    color: $dev_light_gray;
                    font-size: .85rem;
                    margin-right: .5rem;
                    pointer-events: none;
                }

            }

            .btn_login{
                border: none;
                outline: none;
                background: $dev_light_blue;
                padding: 11px 25px;
                width: 100%;
                margin-top: 60px;
                border-radius: 4px;
                font-weight: 700;
                cursor: pointer;
                align-self: flex-end;
                letter-spacing: 0.2rem;
                color: $dev_black;
                transition: transform 250ms ease;

                &:hover{
                    transform: scale(1.05);
                }

                &:active{
                    opacity: 0.8;
                    transform: scale(1);
                }
            }
        }
    }
    /* Change Autocomplete styles input in Chrome*/
    
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: $dev_black;
    transition: background-color 5000s ease-in-out 0s;
    }

}

// WELCOME TEMP

.welcome{
    width: 100%;
    height: 90vh;
    background-color: $dev_bkg_blue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dev_white;

    h1{
        font-size: 4rem;
        letter-spacing: .4rem;
        text-align: center;
        line-height: 6rem;
    }
}

.prof-visible{
    color: green;
}

.prof-invisible{
    color: red;
}

