/**************************
    GENERAL
***************************/
$dev_white: #ffffff;
$dev_black: #1C1C1C;
$dev_mid_gray: #8f8f8f;
$dev_light_gray: #bfbfbf;


/**************************
   BACKGROUND
***************************/
$dev_bkg_blue: #0E0824;
$dev_bkg_purple: #291240;

/**************************
   COLOR
***************************/
$dev_pantone: #BB2649;

$dev_orange: #FF931F;
$dev_light_blue: #47F3FF;
$dev_dark_blue: #293FA3;
$dev_matrix_green: #47fb37;
$dev_dark_green: #229641;
$dev_pink: #DF01C5;
$dev_yellow: #FDFE00;